body {
    background:rgb(56, 55, 55);
    margin: 0;
}

header {
    background-color: rgb(56, 55, 55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 1px rgb(79, 64, 64);
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    margin-left: 20px;
}

#page-logo a {
    padding: 10px;
    font-family: sans-serif;
    color: rgb(214, 97, 58);;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;

}

header nav a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(214, 97, 58);
}

main {
    margin: 10% auto ;
}